{{ attr }}
<span class="validation-error" ng-if="form[name].$error.minlength">Field must be at least {{ attr.minLength }} chars long.</span>
<span class="validation-error" ng-if="form[name].$error.required">This field is required!</span>