<div>
  <!-- TODO separate -->
  <a ui-sref="auth.myEvents" class="btn btn-xs btn-default">
    <i class="fa fa-arrow-left"></i>
    My events
  </a>
</div>

<h1>Event - {{ event.name }}
  <small>{{ event.id }}</small>
</h1>

<form name="form" class="form-horizontal" ng-submit="form.$valid && save()">
  <div class="form-group">

    <label class="form-label col-md-2">Name</label>

    <div class="col-md-10">
      <input type="text" minlength="3" maxlength="100" required class="form-control"
             ng-model="event.name"
             form="form" name="name" display-validations>
    </div>
  </div>

  <div class="form-group">

    <label class="form-label col-md-2">Description</label>

    <div class="col-md-10">
        <textarea class="form-control" ng-model="event.description">

      </textarea>
    </div>
  </div>

  <div class="form-group vertical-align">
    <label class="form-label col-md-1" ng-if="event.createdAt">Created at</label>

    <div class="col-md-4 disabled" ng-if="event.createdAt">
      {{ event.createdAt | date }}
    </div>

    <label class="form-label col-md-2">Voting deadline</label>

    <div class="col-md-5">
      <datetimepicker ng-model="event.votingDeadline" date-format="yyyy-MM-dd" readonly-time="false"></datetimepicker>
      {{ event.votingDeadline | remainingTime }}
    </div>
  </div>

  <tabset>

    <!--  EVENT TIMES TAB  -->
    <tab>
      <tab-heading>
        <i class="fa fa-clock-o"></i>
        Event times
      </tab-heading>
      <h2>Event times</h2>

      <div class="form-group">
        <label class="col-md-3">Default time slot length in minutes</label>

        <div class="col-md-2 form-label">
          <input type="number" class="form-control"
                 ng-model="defaultTimeSlotInMinutes"
                 form="form" name="defaultTimeSlotInMinutes" required min="0" display-validations>
        </div>
      </div>
      <div ng-repeat="time in event.times" class="list-item">
        <div ng-form="timeForm" ng-controller="EventTimeController">
          <div class="form-group vertical-align">
            <label class="form-label col-md-1">From</label>

            <div class="col-md-4">
              <datetimepicker ng-model="time.from" date-format="dd-MMM-yyyy" readonly-time="false"
                              form="timeForm" name="from"></datetimepicker>
            </div>

            <label class="form-label col-md-1">Until</label>

            <div class="col-md-4">
              <datetimepicker ng-model="time.until" date-format="dd-MMM-yyyy" readonly-time="false"
                              form="timeForm" name="until"></datetimepicker>
            </div>

            <label class="col-md-1">Duration</label>

            <div class="col-md-1">
              {{ dateDifferenceInMinutes(time.until, time.from) }}&nbsp;min
            </div>

            <div class="col-md-1">
              <div class="btn btn-danger btn-block" role="button" ng-click="removeTime(time)">
                <i class="fa fa-times"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <a class="btn btn-success btn-block" ng-click="addTime()">
            <i class="fa fa-plus"></i>
            Add time
          </a>
        </div>
      </div>
    </tab>

    <!--  EVENT ACTIVITIES TAB  -->
    <tab>
      <tab-heading>
        <i class="fa fa-lightbulb-o"></i>
        Event activities / places
      </tab-heading>
      <h2>Event activities / places</h2>

      <div ng-repeat="activity in event.activities" ng-form="activityForm">
        <div class="form-group">
          <label class="form-label col-md-1">Name</label>

          <div class="col-md-4">
            <input type="text" class="form-control"
                   ng-model="activity.name"
                   name="name" form="activityForm" display-validations required>
          </div>

          <label class="form-label col-md-1">Price</label>

          <div class="col-md-2">
            <input type="number" min="0" class="form-control"
                   ng-model="activity.price"
                   name="price" form="activityForm" display-validations>
          </div>

          <label class="form-label col-md-1">Per</label>

          <div class="col-md-2">
            <input type="text" class="form-control"
                   ng-model="activity.pricePerUnit"
                   name="pricePerUnit" form="activityForm">
          </div>

          <div class="col-md-1">
            <a class="btn btn-danger" ng-click="event.activities.remove(activity)">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <a class="btn btn-success btn-block" ng-click="addActivity()">
            <i class="fa fa-plus"></i>
            Add activity
          </a>
        </div>
      </div>
    </tab>

    <!--  EVENT VOTING TAB  -->
    <tab>
      <tab-heading>
        <i class="fa fa-table"></i>
        Event slots
      </tab-heading>
      <h2>Event slots</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Date</th>
          <th colspan="{{event.activities.length}}">Activities</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="time in event.times">
          <th>
            {{ time.from | date:'short' }} - {{ time.until | date:'short' }}
          </th>
          <td ng-repeat="activity in event.activities" class="box">
            {{ activity.name }}
            <a class="btn btn-default" ng-click="toggleSlot(time, activity)">
              {{ isSelected(time, activity) }}
              Select
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </tab>
  </tabset>

  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <button type="submit" class="btn btn-success btn-block">Save</button>
    </div>
  </div>
</form>