<div>
  <!-- TODO separate -->
  <a ui-sref="auth.myEvents" class="btn btn-xs btn-default">
    <i class="fa fa-arrow-left"></i>
    My events
  </a>
</div>

<h1>Event - {{ event.name }}
  <small>{{ event.id }}</small>
</h1>

<form name="form" class="form-horizontal" ng-submit="form.$valid && save()">
  <div class="form-group">

    <label class="form-label col-md-2">Name</label>

    <div class="col-md-10">
      <input type="text" minlength="3" maxlength="100" required class="form-control"
             ng-model="event.name"
             form="form" name="name" display-validations>
    </div>
  </div>

  <div class="form-group">

    <label class="form-label col-md-2">Description</label>

    <div class="col-md-10">
        <textarea class="form-control" ng-model="event.description">

      </textarea>
    </div>
  </div>

  <div class="form-group vertical-align">
    <label class="form-label col-md-1" ng-if="event.createdAt">Created at</label>

    <div class="col-md-4 disabled" ng-if="event.createdAt">
      {{ event.createdAt | date }}
    </div>

    <label class="form-label col-md-2">Voting deadline</label>

    <div class="col-md-5">
      <datetimepicker ng-model="event.votingDeadline" date-format="yyyy-MM-dd" readonly-time="false"></datetimepicker>
      {{ event.votingDeadline | remainingTime }}
    </div>
  </div>

  <tabset>

    <!--  EVENT TIMES TAB  -->
    <tab>
      <tab-heading>
        <i class="fa fa-clock-o"></i>
        Event times
      </tab-heading>
      <h2>Event times</h2>

      <event-times times="event.times"></event-times>

    </tab>

    <!--  EVENT ACTIVITIES TAB  -->
    <tab>
      <tab-heading>
        <i class="fa fa-lightbulb-o"></i>
        Event activities / places
      </tab-heading>
      <h2>Event activities / places</h2>

      <event-activities activities="event.activities"></event-activities>

    </tab>

    <!--  EVENT VOTING TAB  -->
    <tab>
      <tab-heading>
        <i class="fa fa-table"></i>
        Event slots
      </tab-heading>
      <h2>Event slots</h2>

      <div class="alert alert-warning" ng-if="existsItemWithoutId(event.times) || existsItemWithoutId(event.activities)">
        <i class="fa fa-exclamation-triangle"></i>
        Some slots can not be activated because of unsaved changes. Please save changes enable it.
      </div>

      <table class="table">
        <thead>
            <tr>
              <th rowspan="2" class="slots-time-column">Date</th>
              <th colspan="{{event.activities.length}}">Activities</th>
            </tr>

            <tr>
              <th ng-repeat="activity in event.activities" class="slots-activity-column">
                {{ activity.name }}
              </th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="time in event.times">
          <th>
            {{ time.from | date:'short' }} - {{ time.until | date:'short' }}
          </th>
          <td ng-repeat="activity in event.activities" class="box">
            <event-activity-time-slot
                time="time"
                activity="activity"
                selected-slots="event.slots">
            </event-activity-time-slot>
          </td>
        </tr>
        </tbody>
      </table>
    </tab>
  </tabset>

  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <button type="submit" class="btn btn-success btn-block">Save</button>
    </div>
  </div>
</form>