<div class="container">
  <h2>My events</h2>
    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-success btn-block" ui-sref="auth.newEvent">
          <i class="fa fa-plus"></i>
          Create new event
        </a>
      </div>
    </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Voting deadline</th>
      <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in events" class="list-item">
      <td> <a ui-sref="auth.eventDetail({id: event.id})" title="Click to view detail"> {{event.id}} </a></td>
      <td> {{event.name}}</td>
      <td> {{event.voting_deadline | date }} </td>
      <td>
        <a class="btn btn-xs btn-danger" ng-click="removeEvent(event)">Delete action</a>
      </td>
    </tr>
    </tbody>
  </table>

  <load-more-button loading-function="loadList" limit="3" limit-count="1"></load-more-button>
</div>